<ion-header>
  <ion-toolbar>
    <ion-title>
      Alerts
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p>Initialize the connection</p>
  <ion-button (click)="onConnect()" fill="solid" color="primary">
    Connect
    <ion-icon slot="end" name="settings"></ion-icon>
  </ion-button>
  <ion-button (click)="onDisconnect()" fill="solid" color="primary">
    Disconnect
    <ion-icon slot="end" name="settings"></ion-icon>
  </ion-button>
  <p>Connected: {{ this.wsService.connected() }}</p>
</ion-content>
